.enter {
  width: 80%;
  max-width: 400px;
}

.containerCard {
  margin-top: 75px;
}

.cardRow {
  margin-right: -5px;
margin-bottom: 88px;
}

.card {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, #d5cb0f 0%,  #ff9500 100%);
  padding-left: 4px;
  padding-right: 4px;
}

.img-square {
  width: 76%;
  height: 169px;
  margin-top: 2px;
  margin-bottom: 2px;
  height: fit-content;
}

.beerimg {
  max-width: 384px;
  min-width: 97px;
  max-height: 138px;
  min-height: 90px;
  object-fit: scale-down;
  cursor: pointer;
 
}

.card-body {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5px;
}

.dots {
  height: 60px;
  
}
.bi:hover{
  border-radius: 5px;
  background-color: rgba(189, 184, 184, 0.39);
}

 .bi-three-dots-vertical {
  border: none;
  background: none;
  color: var(--clr-grey-800);
  font-size: 30px;
  cursor: context-menu;
 }


/* put the white background on image */
 .img-square{
  background-color: #e7e1d8;
  border-radius: 5px;
  
 }
 .hide-bg {
   mix-blend-mode: multiply;
   filter: contrast(1);
  }


.footer {
  width: 100%;
  height: 21%; 
  z-index: 0;
  padding: none;
}

.counter {
  z-index: 0;
  font-size: 20px; 
  text-align: -webkit-center;
  color: var(--c1);
}
.listed {
  width: fit-content;
  background-color: var(--clr-complement-3);
  padding-left: 4px;
  padding-right: 4px;
}

/* AddBeer -- btns take and upload pic */
.btn-circle, .circle {
  width: 99px;
  height: 86px;
  line-height: 1.33;
  border-radius: 77px;
  font-size: 60px;
}

.bi-camera-fill:hover,
.bi-file-earmark-arrow-up-fill:hover,
.bi-record-circle:hover {
  background-color: var(--clr-complement-3);
}

.cancel {
background-color: var(--c4);
}
.cancel:hover, .bi-x-square:hover {
  background-color: var(--c5);
}

.circle, .bi-x-square{
  font-size: 20px;
}

video, .borderFoto {
  border: groove;
}
.or {
  font-size: 40px;
}
.wrapper{
  display: inline-block;
    position: relative
}
.uploadImg{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* CAM *****************************/
.btnBtns {
  /* background-color: #ff9500; */
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 60px;
}

.bi-x-square{
  background-color:var(--c4);
  margin-bottom: 10px;
}

.snap .btn-circle  {
  margin-top: 50px;
  width: 97px;
  height: 97px;
  border-radius: 77px;
  font-size: 70px;
}

.bi-record-circle {
  background: none;
}

.bi-hand-thumbs-up, .bi-arrow-repeat {
  font-size: 60px;
}
.bi-hand-thumbs-up:hover{
  background-color: var(--c8);
}
.bi-arrow-repeat:hover{
  background-color: var(--c6);
}

.allFrame{
  display: flex;
  flex-direction: column;
  align-items: center;
}
        

.showLive{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}



@media(max-width:366px) {
  .card-title {
    font-size: 15px;
  }
}
@media(min-width:491px) {
  .card {
    max-width: 195px;
    flex-direction: column;
     max-height: none;
  }

  .img-square {
    width: 76%;
    height: 169px;
        margin-top: 10px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .card-title {
    font-size: 24px;
  }


  .dots {
    height: 35px;
  }

}




