.containerCard {
  margin-top: 75px;
}

.cardRow {
  margin-right: -5px;
}

.card {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, #d5cb0f 0%,  #ff9500 100%);
  padding-left: 4px;
  padding-right: 4px;
}

.img-square {
  width: 76%;
  height: 169px;
  margin-top: 2px;
  margin-bottom: 2px;
  height: fit-content;
  background-color: #f30707;
}

.beerimg {
  max-width: 384px;
  min-width: 97px;
  max-height: 138px;
  min-height: 90px;
  object-fit: scale-down;
  cursor: pointer;
 
}

.card-body {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5px;

}

.dots {
  height: 160px;
  
}
.bi:hover{
  border-radius: 5px;
  background-color: rgba(189, 184, 184, 0.39);
}

 .bi-three-dots-vertical {
  border: none;
  background: none;
  color: var(--clr-grey-800);
  font-size: 30px;
  cursor: context-menu;
 }


/* put the white background on image */
 .img-square{
  background-color: #e7e1d8;
  border-radius: 5px;
  
 }
 .hide-bg {
   mix-blend-mode: multiply;
   filter: contrast(1);
  }


.footer {
  width: 100%;
  height: 21%; 
  z-index: 0;
  padding: none;
}

.counter {
  z-index: 0;
  font-size: 20px; 
  text-align: -webkit-center;
  color: var(--c1);
}
.listed {
  width: fit-content;
  background-color: var(--clr-complement-3);
  padding-left: 4px;
  padding-right: 4px;
}

@media(min-width:491px) {
  .card {
    max-width: 195px;
    flex-direction: column;
     max-height: none;
  }

  .img-square {
    width: 76%;
    height: 169px;
        margin-top: 10px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }

  .dots {
    height: 35px;
  }

}