.containerCard {
  margin-top: 75px;
}

.cardRow {
  margin-right: 7px;
}

.card {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background: linear-gradient(90deg, #d5cb0f 0%,  #ff9500 100%);
  position: relative;
}

.card img {
  max-width: 160px;
    object-fit: contain;
}

.card-text {
  font-size: 0.9em;
}

.bi-three-dots-vertical {
  align-self: self-start;
  font-size: 26px;
  position: absolute;
  right: 10px;
}

@media(min-width:491px) {
  .card {
    max-width: 195px;
    flex-direction: column;
  }

  .img-square {
    width: 76%;
    height: 169px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }

    .bi-three-dots-vertical {
      align-self: end;
      right: 4px;
    }
}